<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>samyangvd</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/portfolio-item.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#" style="font-weight: bold;">공대생이 광고를 만났을 때</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
              <a class="nav-link" href="https://www.facebook.com/dupseok" target="_blank">Contact us</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

      <!-- Portfolio Item Heading -->
      <h3 class="my-4" style="font-weight: bold;">s양(삼양)비디오, b군(불닭)유출영상
      </h3>

      <!-- Portfolio Item Row -->
      <div class="row">

        <div class="col-md-8">
          <div class="youtubeWrap">
          <iframe width="560" height="315" <iframe width="560" height="315" src="https://www.youtube.com/embed/DY88F8zO0Cw" frameborder="0" allowfullscreen></iframe>></iframe>
          </div>
        </div>

        <div class="col-md-4">
          <h5 class="my-3" style="font-weight: bold;">2017 삼양식품 카피라이팅 공모전</h5>
          <p>#삼양라면 , #불닭볶음면과 관련된 재치있는 문구를 만드는 공모전에 참여하고 싶었던 공대생들입니다.
            저희 카피가 어떠셨나요? 카피라이팅 공모전이었는데...웹페이지와 영상을 만들었네요...그래도 즐거운 카피였길 바랍니다.
            즐거운 삼양,불닭하세요!</p>
          <h5 class="my-3" style="font-weight: bold;">해시태그</h5>
          <ul>
            <li style="font-weight: bold;">#삼양라면</li>
            <li style="font-weight: bold;">#불닭볶음면</li>
            <li style="font-weight: bold;">#S양,B군</li>
            <li style="font-weight: bold;">#힝~속았지?</li>
          </ul>
        </div>

      </div>
      <!-- /.row -->

      <!-- Related Projects Row -->
      <h3 class="my-4" style="font-weight: bold;">오랜만에 코딩하니까 뭐가 뭔지 하나도 모르겠다</h3>

      <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Kwon & Yang</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
